In [36]:
# Import stuff
import pandas as pd
import random

In [37]:
#Read the CSV File into df
df = pd.read_csv('./emed_careers_eu.csv')
df

,category,company_name,job_description,job_title,job_type,location,post_date,salary_offered
0,Clinical Research,PPD GLOBAL LTD,"As part of our on-going growth, we are current...",Senior / Medical Writer (Regulatory),Permanent,Cambridge,4/14/2018,Competitive
1,Science,AL Solutions,Manager of Biometrics – Italy\nAL Solutions ar...,Manager of Biometrics,Permanent,Europe,4/16/2018,NaN
2,Science,Seltek Consultants Ltd,A fantastic opportunity has arisen for an expe...,Field Service Engineer | Chromatography,Permanent,UK,4/16/2018,NaN
3,Data Management and Statistics,Docs International UK Limited,Job Details\n:\nUtilise extensive clinical dat...,Data Manager of Project Management,Permanent,M4 Corridor,4/11/2018,On Application
4,Science,Hyper Recruitment Solutions Ltd,Hyper Recruitment Solutions are currently look...,Strategic Market Analyst,Permanent,Cambridge,4/13/2018,NaN
...,...,...,...,...,...,...,...,...
39769,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39770,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39771,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39772,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
df.category.value_counts()

Pharmaceutical, Healthcare and Medical Sales    7594
Clinical Research                               5227
Science                                         4831
Manufacturing & Operations                      3802
Regulatory Affairs                              1984
Pharmaceutical Marketing                        1750
Data Management and Statistics                  1392
Quality-assurance                               1150
Medical Information and Pharmacovigilance       1011
Medical Affairs / Pharmaceutical Physician       772
Switzerland                                       99
UK                                                99
Germany                                           93
science                                           59
Pharmacy                                          47
Italy                                             36
Spain                                             31
France                                            23
Name: category, dtype: int64

In [39]:
clean = df.drop(df[df.category != 'Pharmaceutical, Healthcare and Medical Sales'].index)
clean

,category,company_name,job_description,job_title,job_type,location,post_date,salary_offered
17,"Pharmaceutical, Healthcare and Medical Sales",Kirkham Young Ltd,Business Development Manager - Medical IT\nThi...,Sales Specialist,Permanent,UK,4/16/2018,NaN
35,"Pharmaceutical, Healthcare and Medical Sales",Kirkham Young Ltd,Sales Specialist - Interventional Cardiac Dev...,Sales Specialist,Permanent,London,4/12/2018,Neg
46,"Pharmaceutical, Healthcare and Medical Sales",BMS Performance,This is a fantastic opportunity for a strateg...,Regional Sales Manager,Permanent,Europe,4/16/2018,NaN
58,"Pharmaceutical, Healthcare and Medical Sales",Silchester Associates Ltd,"Our client is a leading manufacturer, wholesal...",Pharmaceutical Wholesale,Permanent,Birmingham,4/11/2018,NaN
66,"Pharmaceutical, Healthcare and Medical Sales",ID Search and Selection Ltd,Our client is a boutique agency delivering hig...,Senior Account Manager,Permanent,South East,4/13/2018,NaN
...,...,...,...,...,...,...,...,...
29835,"Pharmaceutical, Healthcare and Medical Sales",Evolve Selection Limited,Evolve Selection are currently recruiting for ...,Medical Representative,Permanent,London,4/4/2018,Flexible salary and benefits DOE
29865,"Pharmaceutical, Healthcare and Medical Sales",NonStop Recruitment,Are you interested to take a step into medica...,Account Executive,Permanent,London,4/4/2018,Neg
29918,"Pharmaceutical, Healthcare and Medical Sales",Umbilical Life,Asha Mistry of Umbilical Life is recruiting an...,Account Director,Permanent,London,4/3/2018,Competitive
29963,"Pharmaceutical, Healthcare and Medical Sales",Star,Key Account Specialsit Opportunity - West Sco...,Key Account Specialist,Permanent,Scotland,4/9/2018,Competitive plus Benefits Package
29989,"Pharmaceutical, Healthcare and Medical Sales",Silchester Associates Ltd,Key Account Manager- Medical Devices.\nOn beha...,Medical Devices Hospital Sales,Permanent,Scotland,4/3/2018,£45k-£65k

In [40]:
views = []
saved = []
for x in range(7594):
  views.append(random.randint(0,2579))
  saved.append(random.randint(0,500))
    
clean['views'] = views
clean['saved'] = saved
clean.head()

,category,company_name,job_description,job_title,job_type,location,post_date,salary_offered,views,saved
17,"Pharmaceutical, Healthcare and Medical Sales",Kirkham Young Ltd,Business Development Manager - Medical IT\nThi...,Sales Specialist,Permanent,UK,4/16/2018,NaN,169,496
35,"Pharmaceutical, Healthcare and Medical Sales",Kirkham Young Ltd,Sales Specialist - Interventional Cardiac Dev...,Sales Specialist,Permanent,London,4/12/2018,Neg,954,292
46,"Pharmaceutical, Healthcare and Medical Sales",BMS Performance,This is a fantastic opportunity for a strateg...,Regional Sales Manager,Permanent,Europe,4/16/2018,NaN,1249,262
58,"Pharmaceutical, Healthcare and Medical Sales",Silchester Associates Ltd,"Our client is a leading manufacturer, wholesal...",Pharmaceutical Wholesale,Permanent,Birmingham,4/11/2018,NaN,693,176
66,"Pharmaceutical, Healthcare and Medical Sales",ID Search and Selection Ltd,Our client is a boutique agency delivering hig...,Senior Account Manager,Permanent,South East,4/13/2018,NaN,231,480

In [41]:
clean.to_csv(r'./clean.csv')