In [9]:
import pandas as pd
import numpy as np The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [10]:
df = pd.read_csv('../output_clean.csv')

In [11]:
df = df.drop('postdate', axis=1)
df = df.drop('uniq_id', axis=1)
df = df.drop('jobid', axis=1)
df = df.drop('site_name', axis=1)
df = df.drop('payrate', axis=1)
df.drop(df.index[11000:22000-1], inplace=True)
df.shape

(11001, 9)

In [12]:
df.head(10)

,company,education,experience,industry,jobdescription,joblocation_address,jobtitle,numberofpositions,skills
0,MM Media Pvt Ltd,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,0;1,Media; Entertainment; Internet,Job Description Send me Jobs like this Quali...,Chennai,Walkin Data Entry Operator (night Shift),NaN,ITES
1,find live infotech,UG: B.Tech/B.E. - Any Specialization PG:MBA/PG...,0;0,Advertising; PR; MR; Event Management,Job Description Send me Jobs like this Quali...,Chennai,Work Based Onhome Based Part Time.,60.0,Marketing
2,Softtech Career Infosystem Pvt. Ltd,UG: Any Graduate - Any Specialization PG:Any P...,4;8,IT-Software; Software Services,Job Description Send me Jobs like this - as ...,Bengaluru,Pl/sql Developer - SQL,NaN,IT Software;Application Programming
3,Onboard HRServices LLP,UG: Any Graduate - Any Specialization PG:CA Do...,11;15,Banking; Financial Services; Broking,Job Description Send me Jobs like this - Inv...,Mumbai;Bengaluru;Kolkata;Chennai;Coimbatore;Ta...,Manager/ad/partner - Indirect Tax - CA,NaN,Accounts
4,Spire Technologies and Solutions Pvt. Ltd.,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,6;8,IT-Software; Software Services,Job Description Send me Jobs like this Pleas...,Bengaluru,JAVA Technical Lead (6-8 yrs) -,4.0,IT Software;Application Programming
5,PFS Web Global Services Pvt Ltd,UG: B.Tech/B.E. - Any Specialization PG:MCA - ...,2;5,IT-Software; Software Services,Job Description Send me Jobs like this We ar...,Bengaluru,WALK IN - As400 Developer - Pfsweb Global Serv...,NaN,IT Software;Application Programming
6,Kinesis Management Consultant Pvt. Ltd,NaN,1;3,IT-Software; Software Services,Job Description Send me Jobs like this exper...,Delhi NCR;Mumbai;Bengaluru;Kochi;Greater Noida...,PHP Developer,2.0,IT Software;Application Programming
7,Agile HR consultancy Pvt. Ltd. hiring for Ross...,"UG: Diploma - Any Specialization, Electrical, ...",2;7,Aviation; Aerospace Firms,Job Description Send me Jobs like this Job D...,Bengaluru,Member Technical Staff-wire Harness/cable Harn...,20.0,Production
8,HANSUM INDIA ELECTRONICS PVT.LTD.,"UG: Diploma - Any Specialization, Electronics/...",1;3,Industrial Products; Heavy Machinery,Job Description Send me Jobs like this Indep...,Bengaluru,Team Leader,2.0,Production
9,Accenture,UG: Any Graduate - Any Specialization PG:Any P...,1;5,IT-Software; Software Services,Job Description Send me Jobs like this Overa...,Bengaluru,German Translator,NaN,ITES

# Clean data

In [13]:
def clean(x):
    return x.split(';')

In [14]:
df['experience'] = df['experience'].str.split(';')
df['industry'] = df['industry'].str.split(';')
df['skills'] = df['skills'].str.split(';')
df['joblocation_address'] = df['joblocation_address'].str.split(';')

In [15]:
df.head()

,company,education,experience,industry,jobdescription,joblocation_address,jobtitle,numberofpositions,skills
0,MM Media Pvt Ltd,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,"[0, 1 ]","[Media, Entertainment, Internet]",Job Description Send me Jobs like this Quali...,[Chennai],Walkin Data Entry Operator (night Shift),NaN,[ITES]
1,find live infotech,UG: B.Tech/B.E. - Any Specialization PG:MBA/PG...,"[0, 0 ]","[Advertising, PR, MR, Event Management]",Job Description Send me Jobs like this Quali...,[Chennai],Work Based Onhome Based Part Time.,60.0,[Marketing]
2,Softtech Career Infosystem Pvt. Ltd,UG: Any Graduate - Any Specialization PG:Any P...,"[4, 8 ]","[IT-Software, Software Services]",Job Description Send me Jobs like this - as ...,[Bengaluru],Pl/sql Developer - SQL,NaN,"[IT Software, Application Programming]"
3,Onboard HRServices LLP,UG: Any Graduate - Any Specialization PG:CA Do...,"[11, 15 ]","[Banking, Financial Services, Broking]",Job Description Send me Jobs like this - Inv...,"[Mumbai, Bengaluru, Kolkata, Chennai, Coimbato...",Manager/ad/partner - Indirect Tax - CA,NaN,[Accounts]
4,Spire Technologies and Solutions Pvt. Ltd.,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,"[6, 8 ]","[IT-Software, Software Services]",Job Description Send me Jobs like this Pleas...,[Bengaluru],JAVA Technical Lead (6-8 yrs) -,4.0,"[IT Software, Application Programming]"

In [16]:
# Function to sanitize data to prevent ambiguity. It removes spaces and converts to lowercase
def sanitize(x):
    if isinstance(x, list):
        #Strip spaces and convert to lowercase
        return [str.lower(i.replace(" ", "")) for i in x]
    else:
        #Check if director exists. If not, return empty string
        if isinstance(x, str):
            return str.lower(x.replace(" ", ""))
        else:
            return ''

In [17]:
#Apply the generate_list function to cast, keywords, director and genres
for feature in ['experience', 'industry', 'joblocation_address', 'skills']:
    df[feature] = df[feature].apply(sanitize)

In [18]:
#Function that creates a soup out of the desired metadata
def create_soup(x):
    return ' '.join(x['experience']) + ' ' + ' '.join(x['industry']) + ' '.join(x['industry']) + ' ' + ' '.join(x['joblocation_address']) + ' ' + ' '.join(x['skills'])

In [19]:
# Create the new soup feature
df['soup'] = df.apply(create_soup, axis=1)

In [20]:
#Display the soup of the first job
df.iloc[0]['soup']

'0 1 media entertainment internetmedia entertainment internet chennai ites'

In [21]:
# Import CountVectorizer
from sklearn.feature_extraction.text import CountVectorizer

#Define a new CountVectorizer object and create vectors for the soup
count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(df['soup'])

In [22]:
#Import cosine_similarity function
from sklearn.metrics.pairwise import cosine_similarity

#Compute the cosine similarity score (equivalent to dot product for tf-idf vectors)
cosine_sim2 = cosine_similarity(count_matrix, count_matrix)

In [23]:
# Reset index of your df and construct reverse mapping again
df = df.reset_index()
indices2 = pd.Series(df.index, index=df['jobtitle'])

In [43]:
# Function that takes in job title as input and gives recommendations 
def content_recommender(title, cosine_sim=cosine_sim2, df=df, indices=indices2):
    # Obtain the index of the movie that matches the title
    idx = indices[title]

    # Get the pairwsie similarity scores of all jobs with that job
    # And convert it into a list of tuples as described above
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the jobs based on the cosine similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1].all(), reverse=True)

    # Get the scores of the 15 most similar jobs. Ignore the first job.
    sim_scores = sim_scores[1:16]

    # Get the job indices
    job_indices = [i[0] for i in sim_scores]

    # Return the top 15 most similar jobs
    return df['jobtitle'].iloc[job_indices]

In [56]:
job=df['jobtitle'][2343]
job

'Services Project Manager'

In [61]:
content_recommender('Java Developers', cosine_sim2, df, indices2)

1                   Work Based Onhome Based Part Time.
2                               Pl/sql Developer - SQL
3               Manager/ad/partner - Indirect Tax - CA
4                      JAVA Technical Lead (6-8 yrs) -
5    WALK IN - As400 Developer - Pfsweb Global Serv...
6                                        PHP Developer
Name: jobtitle, dtype: object